*{
    margin: 0;
    padding: 0;
}
.caption{
    float: right;
}
.container{
    width: 50%;
    background-color: rgba(195, 136, 250, 0.603);
    padding: 18px;
    margin: 20px auto;
    margin-top: 20px;
    border-radius: 5px;
}
.flex{
    width: 100%;
    display: flex;
}
.one{
    width: 20%;
}
.two{
    width: 50%;
}
.flex input{
    width: 503px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    margin: 3px 0px;
}
.flex .one{
    padding-top: 5px;
}
.flex2{
    display: flex;
}
.flex2 input{
    margin: 2px 0px;
}
.btn{
    padding: 8px 10px;
    background-color: brown;
    color: azure;
    border: none;
    border-radius: 3px;
}